@charset "utf-8";
/* CSS Document */

img{
	padding: 2%;
	align-content: center;
}
body{
	text-align: center;
	background-image: url(sand.jpg); 
	background-position: center; 
	background-size: cover;
	background-repeat:repeat;
	background-color: #cccccc; 
	color: black;
	margin: 7%;
}
h1{
	color: black;
	font-size: 40px;
	font-weight: bolder;
	background-color: wheat;
	background-position: center;
	padding: 2%;
}
p{
	color: black;
	font-size: 15px;
	font-weight: bold;
	background-color: cadetblue;
	background-position: center;
	padding: 1%;
}
p1{
	color: black;
	font-size: 15px;
	font-weight: bold;
	background-color: bisque;
	background-position: center;
	padding: 1%;
}
p2{
	color: black;
	font-size: 15px;
	font-weight: bold;
	background-color: cadetblue;
	background-position: center;
	padding: 1%;
}
id{
	color: black;
	font-size: 10px;
	padding: 20%;
}
table{
	background-color: wheat;
	padding: 1%;
}
input [type=text], input[type=phone number]{
    width: 100%;
	background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
    background-color: greenyellow;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn{
    padding: 14px 20px;
    background-color: darkorange;
}
.cancelbtn,.signupbtn{
    float: left;
    width: 50%;
}
.container{
    padding: 16px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 300px){
    .cancelbtn, .signupbtn{
        width: 100%;
    }
}